/*
body{
background-image:linear-gradient(DeepSkyBlue,Navy,Indigo);
}
h1{
font-family:Times New Roman;
font-size: 70pt;
text-align: center;
color: white;
margin-bottom: 0px;

}
h2{
font-family: Times;
font-size: 40pt;
text-align: center;
color: white;
margin-bottom: 200px;

}

p{
color: White;
font-size: 15pt;
font-family: Arial;
<div id="Betrice Naujokaite">
}
ul{
color: White;
font-size: 15pt;
font-family: Arial;
}
.Theme{
background-color:DarkBlue ;
color: white;
padding: 10px;
outline: 5px dotted white;
text-align: left;
font-family: Arial;
font-size: 30pt;
} 
.Pirmaeil{
	background-color:Blue;
	height: 300px;
	picture-align: center;
	font-size:30pt;
	
}
.Antraeil{
	background-color:black;
	height:200px;
	picture-align: center;
	font-size:30pt;
	
}

li{
color: white;
}
a:link{
    text-decoration: none;
	color: white;
}
table, td{
	border: 2 px solid white;
	color: white;
}
table{
	margin:auto;
	width: 50%;
}
*/
body{
background-image:linear-gradient(DeepSkyBlue,Navy,Indigo);
background-image: url("cupcake.jpg");
}
h1{
font-family:Arial;
font-size: 80pt;
text-align: center;
color: white;
margin-bottom: 0px;
background-color:pink;
}
h2{
font-family: Arial;
font-size: 50pt;
text-align: left;
color: Deeppink;
margin-bottom: 10px;
background-color: white;
height:100px;

}
a:link{
    text-decoration: none;
	color: deeppink;
}
h3{
font-family: Arial;
font-size: 30pt;
text-align: left;
color: white;
margin-bottom: 0px;
background-color: pink;
width:
}
p{
	font-family: arial;
	font-size: 20pt;
	color:#787878;
	background-color: white;
}
 
.skaicius{
	font-size:20pt;
	color:deeppink;
}

table, th, td {
  border: 5px white;
  background-color:pink;
  size: 400px;
  color: white;
  font-size: 20pt;
  
}